.CodeMirror {
	height: 50px;
}

#container {
	width: 50%;
}

button {
	margin: 10px;
}

.side-btn {
	font-size: 2vmin;
	width: 2em;
	height: 2em;
	padding: 0;
}

.question-row {
	margin-bottom: 10em;
}